@import "tailwindcss";

@theme {
  --color-primary: #004d65;
  --color-secondary: #964900;
  --color-background: #fbf9f8;
  --color-on-surface: #1b1c1c;
}

@font-face {
  font-family: "Kalpurush";
  src: url("/fonts/Kalpurush.woff2") format("woff2");
}

body {
  @apply bg-background text-on-surface;
  font-family: "Kalpurush", sans-serif;
}

:root {
  --font-sans: "Kalpurush", sans-serif;
}
